<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<style>
    .container{
        position:absolute;
        top:50%;
        left:10%;
    }
</style>
<body>
                 <!-- kkkkkkkkkkk -->
<div class="container" style="position:absolute;top:10%;left:10%;font-family:serif;">
    <h1 class="mt-5">Initialize Campaign</h1>
    <div class="card bg-dark">
                  <h1>we live for each other</h1>
                  <p>wkjerjjrjjjthhtjjjjejjjkjkkkktjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</p>
     </div>
    <div class="card bg-dark">
                  <h1>we live for each other</h1>
                  <p>wkjerjjrjjjthhtjjjjejjjkjkkkktjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</p>
    </div>

 
</div>
    @yield('content')
</body>
</html>