doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title STUDENT &amp; STAFF COMMUNICATION MANAGEMENT SYSTEM
  // styiling the web page
  style.
    body
    {
    background-color:rgb(25, 123, 123);
    margin: 0 15% 0 15%;
    font-family: sans-serif;
    }
    h1
    {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    margin-top: 30px;
    }
    footer
    {
    background-color: rgb(177, 185, 185);
    text-align: center;
    border-bottom: 2px;
    }
    img
    {
    size: 50px;
    }
    .top-nav
    {
    background-color: rgb(177, 185, 185);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    }
    .top-nav a
    {
    float: left;
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    }
    .brii
    {
    padding: 10px;
    margin: 10px 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(red, green, blue, alpha);
    }
    .chengs
    {
    padding: 10px;
    margin: 10px 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(red, green, blue, alpha);
    }
    .dorah
    {
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(red, green, blue, alpha);
    }
    .basso
    {
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0 15px 4px rgba(red, green, blue, alpha);
    width: 250px;
    }
centre
  h1 STUDENT &amp; STAFF COMMUNICATION MANAGEMENT SYSTEM
  .top-nav
    a(href='register.html') Home
    a(href='contact.html') Contact
    a(href='staff.html') Staff
  block content
  footer  Copyrights SABRINA A. MSUYA 2024
